@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withAutomaticReconnect([1000, 2000, 3000, 4000]).withUrl("http://localhost:7107/MyHub").build();
            //withAutomaticReconnect([1000, 2000, 3000, 4000]) kısmı ile diyelimki bağlantıdan düştük.belli periyotlarda sunucuya istek atarak tekrar bağlanmaya çalışıyoruz.(1. saniye,2.saniye gibi oluşturduk burda)

            $("#conStatus").text(connection.connectionState); //Bağlantının en baştaki durumunu göstercek

            connection.start().then(() => { //Bağlantıyı başlat
                $("#conStatus").text(connection.connectionState); //Eğer bağlanmayı başarırsa bağlantı durumunu göstercek.
                $("#loading").hide();//Başlangıçta spinner bi gözüküp kaybolcak.
            }).catch((err) => { console.log(err) }); //Bağlanmazsa hatayı console da yazdıracak

            $("#btnsave").click(() => {
                connection.invoke("SendName", $("#txtname").val()).catch((err) => {//bir şey gönderirken(eklerken) sendname metodunu çağırdık.aşağıdaki on ile de gösterdik
                    console.log(err)//ekleme işlemi sırasında hata olursa console da yazdırcak
                });

            })
            connection.on("ReceiveName", (name) => { //eklediğim kişinin ismini konsolda görmek için. on burada bir nevi subscribe işlemi görecek yani burada receivename e abone olma gibi.
                /*console.log(name);*/
                $("#nameslist").append(`<li class="list-group-item">${name}</li>`); //ekranda ekleme yaptıklarımızı getirmek için.
            })

            connection.onreconnecting(err => {//yeniden bağlanırken bize
                $("#loading").show(); //spinner ve
                $("#conStatus").text(connection.connectionState);//bağlantı durumu ekrana yazılacak.
            });

            connection.onreconnected(connectionID => { //yeniden bağlanırsa
                $("#loading").hide();//spinner kaybolcak ve
                $("#conStatus").text(connection.connectionState);//bağlantı durumu ekrana yazılacak.(connected gibi)
            });

            connection.on("ReceiveClientCount", (ClientCount) => { //Kaç tane kullanıcımız aktif onu göstercek
                $("#clientCount").text(ClientCount);
            });

            connection.on("Notify", (countText) => {//Başlangıçta bu odaya max x kadar kişi girebilir gibi bir uyarı vercek
                $("#notify").html(`<div class="alert alert-success">${countText}</div>`)
            });
            connection.on("Error", (errorText) => {
                alert(errorText);//Kişi sayısı 7yi geçince uyarı vercek.
            });
            $("#btnroomname").click(() => {//Odalara kişi ekleme
                let name = $("#txtname").val();
                let roomname = $("input[type=radio]:checked").val();
                if (roomname == null) {
                    alert("Lütfen 1 tane oda seçiniz");
                }
                connection.invoke("SendNameByRoom", name, roomname).catch((err) => {
                    console.log(err);
                })
            });
            connection.on("ReceiveMessageByGroup", (name, roomID) => {
                let listName;
                if (roomID == 1) {
                    listName = "AnkaraRoomList"
                }
                else {
                    listName = "BursaRoomList"
                }
                $(`#${listName}`).append(`<li class="list-group-item">${name}</li>`)
            })
            $("input[type=radio]").change(() => {//farklı şehir grubuna geçerse önceki gruptan silme kodları
                let value = $(`input[type=radio]:checked`).val();
                if (value == "Ankara") {
                    connection.invoke("AddToGroup", value);
                    connection.invoke("RemoveToGroup", "Bursa");
                }
                else {
                    connection.invoke("AddToGroup", value);
                    connection.invoke("RemoveToGroup", "Ankara");
                }
            })

        })


    </script>

}
<div class="row">
    <div class="col-md-8 offset-2">
        <input type="text" id="txtname" class="form-control" />
        <hr />
        <button class="btn btn-primary" id="btnsave">Kişiyi Ekle</button>
        <button class="btn btn-danger" id="btnroomname">Odaya Kişiyi Ekle</button>
        <div class="alert alert-success mt-2">
            <div class="float-left">
                Bağlantı Durumu:<strong id="conStatus"></strong>
                Client Sayısı:<strong id="clientCount"></strong>
            </div>

            <div class="float-right">
                @*tekrar bağlanmaya çalışırken spinner göstercek ekranda bize*@
                <div id="loading" class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div id="notify"></div>  @*max odadaki kişi sayısı ile ilgili kısım*@
    </div>
    <div class="col-md-8 offset-2">
        @*ekleme işlemi ile ilgili kısım*@
        <ul class="list-group" id="nameslist"></ul>
    </div>
</div>

<div class="row"> @*Odalara kişi ekleme tasarımı*@
    <div class="col-md-8 offset-md-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="roomgroup" value="Ankara" />
            <label class="form-check-label">Ankara Odası</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="roomgroup" value="Bursa" />
            <label class="form-check-label">Bursa Odası</label>
        </div>
    </div>
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-6">
                <h2>Ankara Odası</h2>
                <ul class="list-group" id="AnkaraRoomList">
                </ul>
            </div><div class="col-md-6">
                <h2>Bursa Odası</h2>
                <ul class="list-group" id="BursaRoomList">
                </ul>

            </div>
        </div>
    </div>
</div>

